.contact-font{
  width: auto;
  height: 400px;
  background-image: url("./../../assets/images/saludConfa.jpg");
  margin: auto;
  background-repeat: no-repeat;
  background-size: auto 400px;
  background-position: center;

}

.text-lorem{

  text-align: center;
  width: 900px;
  height: 400px;
  float: center;
}