<mat-card-footer>
  <mat-toolbar color="primary" class="toolbar"> 
<div class="contact row">  

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
  <p>Contactanos a los telefonos:  56464646431  </p>
  <p>87878464646</p>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

  <img src="../../../../assets/images/confa.jpg" alt="imagen confa">
  <p class="textoImg">texto de la imagen donde se puede coloar</p>
  <p class="textoImg">texto de la imagen donde se puede coloar</p>

</div>

<div class="col-xs-12 col-sm-12 col-md-4 col-lg-65">
<p>Esta es la mejor empresa que piensa en los candenses </p>

 <p>Convenios con ...... quienes son los patrocinadores fundamentales </p>
</div>


</div>
  </mat-toolbar>

</mat-card-footer>
