<!-- <app-header></app-header> -->
<div class="product-list">
  

<div *ngFor="let product of products">

  
  <h1 appHighlight >{{product.title}}</h1>

  <div class="host">
  
    <h3>{{ product.id }}</h3>
    <strong>{{ product.price | currency}}</strong>
    {{ product.description |slice:0:10}}
    <p>{{today | date:'medium'}}</p>
    <img [src]="product.image" alt="" />
    <button (click)="addCart(product.id)">Agregar al carrito</button>
    <a [routerLink]= "['/products',product.id]" >Ver detalles</a> 
  
  </div>

</div>

</div>



