<!-- <app-header></app-header> -->
<div class="product-list"> 
<div *ngFor="let product of products">

   <div class="margen">  
  <mat-card-header>
    <mat-card-title>{{ product.title }}</mat-card-title>
    <mat-card-subtitle>{{ product.price | currency }} </mat-card-subtitle>
    <p>{{ today | date: "medium"}}</p>
  </mat-card-header>
  <div class="crop-image">
    <img [src]="product.image" alt="" />
  </div>
  <mat-card-content> {{ product.description | slice: 0:10 }}</mat-card-content>

  <mat-card-actions>
    <a [routerLink]="['/products', product.id]">Ver detalles</a>
    <button (click)="addCart(product.id)" mat-raised-button color="primary">
      Agregar al carrito
    </button>
  
  </mat-card-actions>

</div>

</div>
</div>
